backend/target/
backend/.classpath
backend/.project
backend/.settings/
backend/src/main/resources/application-local.yml

frontend/node_modules/
frontend/dist/
frontend/dist-ssr/

.DS_Store
.idea/
.vscode/
